:root{
    --mainHeight: 89vh;
    --borderForAll: 5px solid black;
    --textBoxWidth: 97%;
}

.main{
    display: flex;
}

#left-side{
    flex-basis: 50%;
    margin-right: 3px;
    height: var(--mainHeight);
    border-right: var(--borderForAll);
    border-top: var(--borderForAll);
    display: flex;
    justify-content: center;
    align-items: center;
}


#right-side{
    flex-basis: 50%;
    margin-left: 3px;
    height: var(--mainHeight);
    border-left: var(--borderForAll);
    border-top: var(--borderForAll);
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 15%;
}

input{
    display: block;
}

form{
    margin-left: 20px;
}

#username{
    width: var(--textBoxWidth);
    height: 18px;
}

#title{
    width: var(--textBoxWidth);
    height: 18px;
}

#content{
    width: var(--textBoxWidth);
    margin-bottom: 10px;
    padding-bottom: 100px;
    text-wrap: wrap;
}

#submit{
    margin-left: 42%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
